@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Add this new utility class */
@layer utilities {
  .bg-grid-pattern {
    background-image: theme('backgroundImage.grid-pattern');
    background-size: theme('backgroundSize.grid-size');
  }
}

/* Overriding dapp-kit button styles to match the theme */
.dapp-kit-connect-button {
  background-color: #262626 !important;
  color: #a3a3a3 !important;
  border: 1px solid #404040 !important;
  transition: all 0.3s ease;
  font-family: '"Courier New"', Courier, monospace !important;
}

.dapp-kit-connect-button:hover {
  background-color: #404040 !important;
  color: #ffffff !important;
  border-color: #525252 !important;
}